*{
    list-style: none;
    margin:0;
    padding: 0;
    text-decoration: none;
    color:black;
    font-weight: normal;
    font-size: 16px;
    font-family: cursive;
}

h1{ 
    padding: 75px;
    font-size: 7em;
    font-weight: bold;
}
.game{
    padding: 75px;
}
.game p{
    font-size: 2em;
}
.game button{
    padding: 10px 40px;
    margin-top: 25px;
    font-size: 1.8em;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 40px;
    cursor: pointer;
}
body{
    text-align: center;
    background-color: #f4f4f4;
}

.game-list{
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 100px;
    column-gap: 100px;
}
.game-list h3{
    font-size: 2em;
    font-weight: bold;
}
.game-list section{
    background-color: #4CAF50;
}

.socials a{
    padding: 15px;
}
.socials h2{
    font-size: 1.5em;
}
.links{
    margin-top: 15px;
}